@import 'vars';

.channels {
  position: relative;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: $background-color;

  &__card {
    margin-bottom: 0.875rem;
  }

  &__filter {
    margin-bottom: 1.875rem;
  }
}
