<form [formGroup]="form" class="auth">
  <h2 class="auth__title title-4">Войдите в аккаунт</h2>
  <p class="auth__subtitle paragraph-4">Введите свой Email и пароль</p>
  <div class="auth__input">
    <input-field
      [isInvalid]="isInvalidEmail"
      formControlName="email"
      placeholder="Email"
      type="email"
    ></input-field>
  </div>
  <div class="auth__input">
    <input-field
      [isInvalid]="isInvalidPassword"
      formControlName="password"
      placeholder="Пароль"
      type="password"
    ></input-field>
  </div>
  <div class="auth__helpers">
    <checkbox text="Запомнить пароль"></checkbox>
    <span class="link">Забыли пароль?</span>
  </div>
  <div (click)="onClickLoginButton()" class="auth__button">
    <app-button [disabled]="!isValidForm">Войти</app-button>
  </div>
  <div class="auth__button">
    <google-button></google-button>
  </div>
  <p class="auth__actions">
    <span class="paragraph-6">Нет аккаунта?</span>
    <span class="link" (click)="navigateToSignUp()">Зарегистрироваться</span>
  </p>
</form>
