<div class="sign-in">
  <h2 class="sign-in__title title-4">Войдите в аккаунт</h2>
  <p class="sign-in__subtitle paragraph-4">Введите свой Email и пароль</p>
  <div class="sign-in__input">
    <input-field placeholder="Email" type="email"></input-field>
  </div>
  <div class="sign-in__input">
    <input-field placeholder="Пароль" type="password"></input-field>
  </div>
  <div class="sign-in__helpers">
    <checkbox></checkbox>
    <span class="link">Забыли пароль?</span>
  </div>
  <div class="sign-in__button">
    <app-button width="100%">Войти</app-button>
  </div>
  <div class="sign-in__button">
    <google-button></google-button>
  </div>
  <p class="sign-in__register">
    <span class="paragraph-6">Нет аккаунта?</span>
    <span class="link">Зарегистрироваться</span>
  </p>
</div>
