$black-color: #000000;
$white-color: #fafbfd;
$red-color: #ff3300;
$warm-white-color: #f3f2ed;
$gray-color: #d1d1d1;
$light-gray-color: #f5f5f5;
$primary-gray-color: #9f9f9f;
$blue-color: #00323f;
$light-color: #fafbfd;
$light-blue-color: #008baf;
$secondary-color: #dfdfdf;

$font-family: 'TT Firs Neue';
